.header .logo img {
    max-height: 50px;
    margin-right: 8px;
}

.logo img {
    border: 3px solid var(--nav-color);; /* White border */
    border-radius: 50%; /* Makes the image circular */
    padding: 2px; /* Optional: inner space between image and border */
    background-color: transparent;
    width: 80px; /* Adjust width if needed */
    height: 80px; /* Adjust height to match width for perfect circle */
    object-fit: cover; /* Ensures image fits inside the circle */
  }
  

  .services .details {
 
    margin: -40px 30px 0 30px;
  }

  .clients .client-logo img {
   
    max-width: 120%;
  }

  .footer .footer-contact p {   
    color: 
color-mix(in srgb, var(--default-color), transparent 30%);
}

.footer .footer-about p {   
  color: 
color-mix(in srgb, var(--default-color), transparent 30%);
}

.hero-content-box {
  background: rgba(21, 34, 43, 0.70)	; /* light background with slight transparency */
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* soft shadow */
  /* max-width: 600px; */
  margin: auto;
}


.service-img-wrapper {
  width: 100%;
  height: 300px; /* fixed height */
  overflow: hidden; /* hide overflow if image is bigger */
  border-radius: 8px; /* optional: for rounded corners */
}

.service-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* important: image will "cover" the box */
}



.whatsapp-float {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999;
}
.whatsapp-float img {
    /* border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3); */
    transition: transform 0.3s;
}
.whatsapp-float img:hover {
    transform: scale(1.1);
}

