.header .logo img {
    max-height: 50px;
    margin-right: 8px;
}

.logo img {
    border: 3px solid var(--nav-color);; /* White border */
    border-radius: 50%; /* Makes the image circular */
    padding: 2px; /* Optional: inner space between image and border */
    background-color: transparent;
    width: 80px; /* Adjust width if needed */
    height: 80px; /* Adjust height to match width for perfect circle */
    object-fit: cover; /* Ensures image fits inside the circle */
  }
  

  .services .details {
 
    margin: -40px 30px 0 30px;
  }

  .clients .client-logo img {
   
    max-width: 120%;
  }

  .footer .footer-contact p {   
    color: 
color-mix(in srgb, var(--default-color), transparent 30%);
}

.footer .footer-about p {   
  color: 
color-mix(in srgb, var(--default-color), transparent 30%);
}

