.header .logo img {
    max-height: 50px;
    margin-right: 8px;
}

.logo img {
    /* border: 3px solid var(--nav-color);
    border-radius: 50%;  
    padding: 2px; */
    background-color: transparent;
    width: 280px; 
    height: 80px; 
    /* object-fit: cover;  */
  }
  
/* For mobile view */
@media (max-width: 768px) {
  .logo img {
    width: 200px; /* Mobile size */
  }
}
  

  .services .details {
 
    margin: -40px 30px 0 30px;
  }

  .clients .client-logo img {
   
    max-width: 120%;
  }

  .footer .footer-contact p {   
    color: 
color-mix(in srgb, var(--default-color), transparent 30%);
}

.footer .footer-about p {   
  color: 
color-mix(in srgb, var(--default-color), transparent 30%);
}

.hero-content-box {
  background: rgba(21, 34, 43, 0.70)	; /* light background with slight transparency */
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* soft shadow */
  /* max-width: 600px; */
  margin: auto;
}


.service-img-wrapper {
  width: 100%;
  height: 300px; /* fixed height */
  overflow: hidden; /* hide overflow if image is bigger */
  border-radius: 8px; /* optional: for rounded corners */
}

.service-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* important: image will "cover" the box */
}



.whatsapp-float {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999;
}
.whatsapp-float img {
    /* border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3); */
    transition: transform 0.3s;
}
.whatsapp-float img:hover {
    transform: scale(1.1);
}

.footer-logo img {
  filter: brightness(0) invert(1);
  width: 250px; 
}

.logo img {
  background-color: transparent;
  width: 280px; /* Desktop view */
}

@media (max-width: 767px) {
  .logo img {
    width: 150px; /* Mobile view */
  }
}

.logo-scrolled {
  display: none;
}

/* When header is scrolled */
.header.scrolled .logo-default {
  display: none;
}

.header.scrolled .logo-scrolled {
  display: block;
}


.industry-item {
  background: #444444;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  height: 100%;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.industry-item:hover {
  transform: translateY(-10px);
}

